.header {
    margin-top: 64px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(1, 61, 21);
  }
.div {
    font-size: 32px;
    margin-bottom: 32px;
    -webkit-text-stroke-color: rgb(1, 61, 21);
  }
  .colored-button {
    padding: 24px;
    border: none;
    background-color: rgb(81, 255, 133)
  }
.colored-button:hover {
    background-color: rgb(0, 0, 0);
    color: white;
    cursor: pointer;
  }
  body {
    text-align: center;
    font-family: monospace;
    background-image: url('https://ngnl-o7.github.io/cs97-assignments/pepe-the-frog-dancing.gif');
    background-size: auto;
  }
